
@{
    Layout = null;
    AgendamentoConsultas.DAO.EspecialidadesDAO dao = new AgendamentoConsultas.DAO.EspecialidadesDAO();
    ViewBag.Especialidades = dao.Lista();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Medicosindex</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Especialidade</th>
                    <th>Descricao</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var medico in ViewBag.Medicos)
                {
                    <tr>
                        <td>@medico.Id</td>
                        <td>@medico.Nome</td>
                        
                            @foreach (var espec in ViewBag.Especialidades)
                            {
                                if(espec.Id == medico.EspecialidadeId)
                                {
                                    <td>
                                        @espec.EspecialidadeNome
                                    </td>    
                                }
                            }                                                
                        <td>@medico.Descricao</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
