<link href="~/Content/CadastroPaciente/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="~/Content/CadastroPaciente/bootstrap.min.js"></script>
<script src="~/Content/CadastroPaciente/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Cadastro de Pacientes</legend>
        <div style="background-color: #4ED4E8"></div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="nome">Nome</label>
            <div class="col-md-5">
                <input id="nome" name="nome" type="text" placeholder="Entre com o Nome" class="form-control input-md" required="">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="identificacao">Nome de usuário</label>
            <div class="col-md-5">
                <input id="identificacao" name="identificacao" type="text" placeholder="Digite seu nome de usuário" class="form-control input-md" required="">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cpf">CPF</label>
            <div class="col-md-5">
                <input id="cpf" name="cpf" type="text" placeholder="Numero do CPF" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="datanascimento">Data de Nascimento</label>
            <div class="col-md-4">
                <input id="datanascimento" name="datanascimento" type="text" placeholder="dd/mm/yyyy" class="form-control input-md">

            </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="sexo">Sexo</label>
            <div class="col-md-4">
                <select id="sexo" name="sexo" class="form-control">
                    <option value="F">Feminino</option>
                    <option value="M">Masculino</option>
                </select>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cep">CEP</label>
            <div class="col-md-4">
                <input id="cep" name="cep" type="text" placeholder="99999-999" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="endereco">Endereco</label>
            <div class="col-md-8">
                <input id="endereco" name="endereco" type="text" placeholder="Rua Numero Complemento" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="bairro">Bairro</label>
            <div class="col-md-5">
                <input id="bairro" name="bairro" type="text" placeholder="Bairro" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="complemento">Complemento</label>
            <div class="col-md-5">
                <input id="Complemento" name="complemento" type="text" placeholder="Complemento" class="form-control input-md">

            </div>

        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cidade">Cidade</label>
            <div class="col-md-6">
                <input id="cidade" name="cidade" type="text" placeholder="Cidade" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="uf">UF</label>
            <div class="col-md-2">
                <input id="uf" name="uf" type="text" placeholder="Estado" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="telefone">Telefone</label>
            <div class="col-md-4">
                <input id="telefone" name="telefone" type="text" placeholder="(99)999999999" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="celular">Celular</label>
            <div class="col-md-4">
                <input id="celular" name="celular" type="text" placeholder="(99)999999999" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="convenio médico">Convenio Medico</label>
            <div class="col-md-4">

                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                    Unimed <label>
                        </br>
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck1">
                            Bradesco <label>
                                <!--
                            <select id="conveniomedico" name="convenio Medico" type="text" placeholder="Digite Convenio Medico" class="form-control">
                                <option value="1">Unimed</option>
                                <option value="2">Bradesco</option>
                                <option value="3">Agemed</option>
                                <option value="4">Amil</option>
                                <option value="5">Onehealth</option>
                                <option value="6">CaixaSeguros</option>
                            </select>
                            -->
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" name="email" type="text" placeholder="Digite seu E-mail" class="form-control input-md">

            </div>
        </div>
        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="senha">Senha</label>
            <div class="col-md-4">
                <input id="senha" name="senha" type="password" placeholder="Entre com a Senha" class="form-control input-md" required="">

            </div>
        </div>
        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="confirmasenha">Confirma Senha</label>
            <div class="col-md-4">
                <input id="confirmasenha" name="confirmasenha" type="password" placeholder="Confirme a Senha" class="form-control input-md">

            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Gravar</label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Gravar</button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Primary</button>
    </fieldset>
</form>
