
<form action="/Especialidade/Adiciona" method="post">
    <label for="especialidade">Especialidade:</label>
    <input id="especialidade" class="form-control" name="especialidade.EspecialidadeNome" />

    <label for="descricao">Descricao:</label>
    <textarea id="descricao" class="form-control" name="especialidade.DescricaoEspecialidade"></textarea>

    <input type="submit" value=" Cadastrar" />

</form>

