
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EspecialidadeIndex</title>
</head>
<body>
    <div>
        <form action="/Especialidade/Adiciona" method="post">
            <label for="especialidade">Especialidade:</label>
            <input id="especialidade" name="especialidade.EspecialidadeNome" />

            <label for="descricao">Descricao:</label>
            <textarea id="descricao" name="especialidade.DescricaoEspecialidade"></textarea>
            <input type="submit" value=" Cadastrar" />

        </form>
    </div>
</body>
</html>
