<form action="/Convenio/Adiciona" method="post">
    <label for="convenio">Convenio:</label>
    <input id="convenio" class="form-control" name="convenio.ConvenioNome" />

    <input type="submit" value=" Cadastrar" />

</form>
