@{
    Layout = null;
}

<form class="form-horizontal" action="@Url.Action("Adiciona","Convenio")" method="post">
    <div class="form-group">
        <label class="col-md-4 control-label" for="nome">Nome do convenio:</label>
        <div class="col-md-5">
            <input id="nome" name="convenio.ConvenioNome" type="text" placeholder="Entre com o Nome" class="form-control input-md" required="">
            <button>adicionar</button>
        </div>
    </div>
</form>