<form action="@Url.Action("Editar", "Convenio", new { ViewBag.Convenio.Id })" method="post">
<label for="convenioNome">Convenio:</label>
<input id="convenioNome" class="form-control" value="@ViewBag.Convenio.ConvenioNome" name="convenio.ConvenioNome" />

<input type="submit" value=" Cadastrar" />

</form>
