
@{

 Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h2>CPF</h2>
        <input id="Cpf"></input>

        <h2>Nome</h2>
        <input id="Nome"></input> 

        <button>Logar</button>
        <button>Cadastrar</button>

    </div>
</body>
</html>
