
@{

 Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h2>CPF</h2>
        <input id="Cpf"></input>
    </div>
    <div>
        <h2>Nome</h2>
        <input id="Nome"></input>


    </div>

   
</body>
</html>
