
<form class="form-horizontal" action="@Url.Action("Index","Paciente")" method="post">
    <fieldset>
        <!-- Form Name -->
        <legend>Cadastro de Pacientes</legend>
        <div style="background-color: #4ED4E8"></div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="nome">Nome</label>
            <div class="col-md-5">
                <input id="nome" name="paciente.nome" type="text" placeholder="Entre com o Nome" class="form-control input-md" required="">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cpf">CPF</label>
            <div class="col-md-5">
                <input id="cpf" name="paciente.cpf" type="text" placeholder="Numero do CPF" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="datanascimento">Data de Nascimento</label>
            <div class="col-md-4">
                <input id="datanascimento" name="paciente.datanascimento" type="text" placeholder="dd/mm/yyyy" class="form-control input-md">

            </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="sexo">Sexo</label>
            <div class="col-md-4">
                <select id="sexo" name="paciente.sexo" class="form-control">
                    <option value="F">Feminino</option>
                    <option value="M">Masculino</option>
                </select>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cep">CEP</label>
            <div class="col-md-4">
                <input id="cep" name="paciente.cep" type="text" placeholder="99999-999" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="endereco">Endereco</label>
            <div class="col-md-8">
                <input id="endereco" name="paciente.endereco" type="text" placeholder="Rua Numero Complemento" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="bairro">Bairro</label>
            <div class="col-md-5">
                <input id="bairro" name="paciente.bairro" type="text" placeholder="Bairro" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="complemento">Complemento</label>
            <div class="col-md-5">
                <input id="Complemento" name="paciente.complemento" type="text" placeholder="Complemento" class="form-control input-md">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cidade">Cidade</label>
            <div class="col-md-6">
                <input id="cidade" name="paciente.cidade" type="text" placeholder="Cidade" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="uf">UF</label>
            <div class="col-md-2">
                <input id="uf" name="paciente.uf" type="text" placeholder="Estado" class="form-control input-md">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="telefone">Telefone</label>
            <div class="col-md-4">
                <input id="telefone" name="paciente.telefone" type="text" placeholder="(99)999999999" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="celular">Celular</label>
            <div class="col-md-4">
                <input id="celular" name="celular" type="text" placeholder="(99)999999999" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="convenio médico">Convenio Medico</label>
            <div class="col-md-4">
                <select id="conveniomedico" name="paciente.convenioIdMedico" type="text" placeholder="Digite Convenio Medico" class="form-control">
                    @*@{
                            foreach (var convenio in ViewBag.Convenios)
                            {
                                <option value="@convenio.Id">@convenio.convenioNome</option>
                            }
                        }*@

                </select>

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" name="email" type="text" placeholder="Digite seu E-mail" class="form-control input-md">

            </div>
        </div>
        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="senha">Senha</label>
            <div class="col-md-4">
                <input id="senha" name="senha" type="password" placeholder="Entre com a Senha" class="form-control input-md" required="">

            </div>
        </div>
        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="confirmasenha">Confirma Senha</label>
            <div class="col-md-4">
                <input id="confirmasenha" name="confirmasenha" type="password" placeholder="Confirme a Senha" class="form-control input-md">

            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Gravar</label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Gravar</button>
            </div>
        </div>
    </fieldset>

   